canvas {
    position: absolute;
    border: 1px solid lightgray;
}

#stage {
    width: 640px;
    height: 480px;
    position: relative;
}

#main_layer {
    z-index: 2;
}

#path_layer {
    z-index: 1;
}